<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<display-name>MyServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.MyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServletDos</servlet-name>
  	<display-name>MyServletDos</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.MyServletDos</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServletDos</servlet-name>
  	<url-pattern>/myservletdos</url-pattern>
  </servlet-mapping>
</web-app>
